// --------------------------------------------------
// PAWS Profiles
// --------------------------------------------------

.profile-image {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.label-group {
  margin-top: 0.25em;
  line-height: 1;

  .label {
    margin: 0 0.25em 0.25em 0;
  }
}
