// --------------------------------------------------
// PAWS Profiles
// --------------------------------------------------

.profile-image-container {
  position: relative;
  width: 100%;
  height:0;
  padding-bottom: 60%;
  margin-bottom: 1rem;
  overflow: visible;
  background-color: $white-smoke;
}

.profile-image {
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 60%;
  background-size: cover;

  .no-photo-message {
    text-align: center;
    position: absolute;
    bottom: 12%;
    width: 100%;
    padding: 0 $global-margin;
    color: $gray;
    font-size: rem-calc(12);
    font-weight: $global-weight-bold;
  }
}

.label-group {
  margin-top: 0.25em;
  line-height: 1;

  .label {
    margin: 0 0.25em 0.25em 0;
  }
}
