// Map Sidebar
// --------------------------------------------------
.map-sidebar-section {
  padding: rem-calc(6) 0;
  border-bottom: $hr-border;

  .map-sidebar-title {
    padding-right: rem-calc(6);
    padding-left: rem-calc(6);
    margin-bottom: rem-calc(6);
  }

  p {
    font-size: rem-calc(12);
    padding-right: rem-calc(6);
    padding-left: rem-calc(6);
    margin-bottom: rem-calc(6);
  }

  .legend-item {
    margin-bottom: rem-calc(4);
  }

  .bold-legend-item {
    font-weight: $global-weight-bold;
  }

  .amenity-filters-container {
    padding-right: rem-calc(6);
    padding-left: rem-calc(6);
  }

  .ember-power-select-multiple-trigger {
    font-size: rem-calc(12);
    margin-bottom: rem-calc(6);

    input {
      margin: 2px 0 2px 3px;
      line-height: $global-lineheight;
      height: auto;
      box-shadow: none;

      &:focus {
        border: 0;
      }
    }
  }

  .ember-power-select-options {
    font-size: rem-calc(12);
  }
}

.map-sidebar-title {
  margin: 0;
  font-size: 1rem;
}
