<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <div class="grid-x grid-margin-x-gutter-small">
    <div class="cell medium-auto">

      <h1 class="header-large no-margin">{{model.park_name}}</h1>
      <p class="header-medium dark-gray">{{model.address}}</p>

    </div>
  </div>
</div>
