<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>Welcome to New York City's Waterfront Access Map.</h2>
  <p class="lead">This map provides and easy way to discover where you can access NYC’s waterfront.</p>
  <p>The City adopted special zoning regulations affecting waterfront development in 1993. Waterfront zoning maximizes public access and enjoyment of the City’s waterfront resources while enabling appropriate redevelopment along the shoreline.</p>
  <p> Most residential, commercial, and community facility developments on waterfront zoning lots are required to provide and maintain public open space at the water’s edge with pedestrian links to upland communities. Public access is also mandated on piers, platforms and floating structures. Waterfront zoning also requires visual corridors, which are open areas that provide an unobstructed view from upland streets through a waterfront zoning lot to the shoreline. </p>
  <p><strong><a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/waterfront-zoning.page" target="_blank">Learm more about waterfront zoning&hellip;</a></strong></p>
</div>

{{outlet}}
