<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>Get started quickly</h2>
  <p class="lead">This is a starting point for creating mapping applications that combine the components and style from <a href="https://nycplanning.github.io/labs-ui/">Labs UI</a>, models and components from <a href="https://nycplanning.github.io/ember-mapbox-composer/">Ember Mapbox Composer</a>, and data from <a href="https://github.com/NYCPlanning/labs-layers-api">Labs Layers API</a>.</p>
  <p>Just fork this repository and get started.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

{{outlet}}
