<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>About the Waterfront Access&nbsp;Map</h2>

  <p class="lead">This interactive map allows visitors to access and learn more about the City’s collection of publicly-accessible waterfront spaces.</p>

  <p>Parks, esplanades, and other publicly-accessible spaces on the waterfront provide opportunities for relaxation, recreation, boating, and other activities that allow visitors and residents alike to experience New York City’s 520 miles of waterfront. Public and private investments&mdash;as well as effective waterfront zoning regulations&mdash;have expanded the variety of waterfront parks and open spaces available for public use.</p>

  <h4>How to Search for a Waterfront Access Area</h4>

  <p> Search for a builing address, waterfront name, waterfront location (cross streets), waterfront description, or adjacent body of water and easily locate addresses and waterfront access areas on the map.</p>

  <p><strong>{{link-to 'Learn more about waterfront zoning...' 'waterfront-zoning-for-public-access' class="button gray expanded"}}</strong></p>

  <p>The public sites are a combination of City, State, and Federal waterfront parklands and open spaces, as well as private sites that provide public access down to the shoreline. These privately-owned sites are known as Waterfront Public Access Areas (WPAAs). Each WPAA profile here provides information and photos on the history and available amenities at each site. For publicly accessible waterfront sites on public property, there is a link to the agency’s website under whose jurisdiction that property falls, providing additional information. The map will also help you find new waterfront spaces you may not know about and report any issues with these public spaces remaining accessible and well-maintained.</p>

  <p>The interactive map includes <span class="red">_____</span> publicly accessible waterfront spaces that are constructed, including <span class="red">_____</span> on public property and <span class="red">_____</span> on private property. Also included are future public access sites that have been approved by the City, but are yet to be constructed.</p>
</div>

{{outlet}}
