{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='medium'
  as |banner|
}}
  {{#banner.title}}
    <a class='site-title'>Waterfront Access Map</a>
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical medium-horizontal">
      <li>{{link-to 'About' 'about'}}</li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x has-content-open">

  <div class="search-container cell">
    <input type="text" placeholder="Search..." class="search" />
    <ul class="search-results no-bullet">
      <li>Search Result 1</li>
      <li>Search Result 2</li>
      <li>Search Result 3</li>
    </ul>
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map id='map' as |map|}}
      {{map.labs-layers layerGroups=model.layerGroups}}
    {{/labs-map}}
  </div>

  <div class="map-sidebar cell large-order-1">
    {{#labs-ui/layer-groups-container title='Layer Groups Container Title'}}

      {{#labs-ui/layer-group-toggle
        label='Layer Group Label'
        tooltip='This is the layer group tooltip'
        icon=model.exampleIcon
        active=true
      }}
      {{/labs-ui/layer-group-toggle}}

    {{/labs-ui/layer-groups-container}}
  </div>

  {{outlet}}

</div>
