<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>Data</h2>

  <p>The GIS shapefiles used to create this interactive map can be downloaded here. To download the GIS shapefiles and the Publicly Accessible Waterfront Spaces (PAWS) database please go to <a href="https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-waterfront.page" target="_blank">BYTES of the BIG APPLE / NYC Publicly Accessible Waterfront</a> <span class="red">(To be updated)</span>. There, you will also find detailed information about these datasets provided in the accompanying documentation.</p>

  {{!-- TODO --}}
  <p>[pull in data sources programmatically]</p>

</div>

{{outlet}}
