<div class="content-close-button-container">
  {{#link-to 'index' class="content-close-button"}}×{{/link-to}}
</div>

<div class="content cell large-5 large-order-3">
  <h2>Waterfront Zoning for Public&nbsp;Access</h2>

  <p>New York City is one of the few municipalities in the country that requires waterfront public access as a condition of some forms of development. Medium to high density residential, commercial, and community facility developments must provide and maintain publicly-accessible waterfront space that is physically and visually connected to upland neighborhoods. This requirement reflects a long tradition of upholding the public trust doctrine in ensuring the public’s access to the City’s waterfronts and waterways. </p>

  <p>New York City adopted special zoning regulations affecting waterfront development in 1993. Waterfront zoning ( Article VI, Chapter 2, of the Zoning Resolution) addresses the form, size and location of new development, and the amount and quality of required waterfront public access areas. It applies special bulk and use regulations to developments on waterfront blocks, as well as to piers, platforms and floating structures, and mandates waterfront public access along the shoreline. Regulations also allow for the site-specific modification of public access requirements through Waterfront Access Plans (WAPs) for stretches of waterfront parcels with unique conditions and opportunities.</p>

  <p>Waterfront zoning regulations apply to properties within waterfront blocks, which are blocks adjacent to or intersected by the shoreline.</p>

  <p>Waterfront public access regulations were modified in 2009 to ensure the development of inviting and well-designed public open spaces and promote the greening of the waterfront. For more information on how waterfront zoning maximizes the public’s access to, and enjoyment of, the city’s waterfront resources while enabling appropriate redevelopment along the shoreline, visit the Department of City Planning’s homepage on Waterfront Zoning here.</p>
</div>

{{outlet}}
